{% extends 'base.html' %}

{% block content %}
    <div class="message-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Welcome to the BlogInTheDjango</h1>
        <p class="lead">Este Blog foi construido usando a linguagem Python, usando-se da framework Django. Esse Blog
            contém, toda parte de autenticação, e CRUD das postagens.</p>
    </div>

    <div class="container">
        <div class="d-flex flex-column"> <!-- FlexBox -->
            <h2>Contas Cadastradas no Blog</h2>
            {% for account in accounts %}
                <p>{{ account.first_name }} | {{ account.email }} | {{ account.date_joined }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}


